<ion-view view-title="Title">
	<div class="bar bar-header">
		
	  	<div class="title"><img src="img/bussy_logo.png" height="100%"></div>
	</div>
	<ion-content class="has-header">
	    <form>
	      <label class="item item-input">
	        <input type="text" placeholder="Keyword" ng-model="agedcare.childcare_key">
	      </label>
	      <label class="item item-input">
	        <select name="location" ng-model="agedcare.childcare_location">
	            <option value="">State</option> 
                             <option value="26">ACT</option>
                            <option value="30">NSW</option>
                            <option value="40">NT</option>
                            <option value="28">QLD</option>
                            <option value="34">SA</option>
                            <option value="38">TAS</option>
                            <option value="32">VIC</option>
                            <option value="36">WA</option>
            </select>
	      </label>
	      <div class="padding">
	        <input type="submit" class="button button-block button-positive" value="Search" ng-click="submit(agedcare)">
	      </div>
      	</form>
      	<div class="list card">
	      <div class="list padding" ng-repeat="a in busyListing track by $index">
	        <a class="item" href="#/bussinessDetail/{{a.id}}">
	          <h2 class="merah">{{ a.title }}</h2>
	        </a>
	      </div>
	    </div>

	</ion-content>
</ion-view>