<ion-view view-title="Title">
	<div class="bar bar-header">
		
	  	<div class="title"><img src="img/gov_logo.png" height="100%"></div>
	</div>
	<ion-content class="has-header">
	    <form>
	      <label class="item item-input">
	        <input type="text" placeholder="Keyword" ng-model="agedcare.childcare_key">
	      </label>
	      <label class="item item-input">
	        <select name="location" ng-model="agedcare.childcare_location">
	            <option value="">State</option> 
                         	<option value="27">ACT</option>
                            <option value="31">NSW</option>
                            <option value="41">NT</option>
                            <option value="29">QLD</option>
                            <option value="35">SA</option>
                            <option value="39">TAS</option>
                            <option value="33">VIC</option>
                            <option value="37">WA</option>
            </select>
	      </label>
	      <div class="padding">
	        <input type="submit" class="button button-block button-assertive" value="Search" ng-click="submit(agedcare)">
	      </div>
      	</form>
      	<div class="list card">
	      <div class="list padding" ng-repeat="a in govListing track by $index">
	        <a class="item item-avatar" href="#/governmentDetail/{{a.id}}">
	        	<img src="/img/icon.png" width="100%">
	          	<h2 class="merah">{{ a.title }}</h2>
	        </a>
	      </div>
	    </div>

	</ion-content>
</ion-view>