<ion-view view-title="Title">
	<div class="bar bar-header">
	  <div class="title"><img src="img/logo.png" height="100%"></div>
	</div>
	<ion-content class="has-header">
	    <ion-card>
			<div class="list card" animation="slide-left-right">

			  <a href="#/aged" class="item">
			  	<img src="img/aged_logo.png" height="45px">
			  </a>

			  <a href="#/bussiness" class="item">
			    <img src="img/bussy_logo.png" height="45px">
			  </a>

			  <a href="#/child" class="item">
			    <img src="img/child_logo.png" height="45px">
			  </a>

			  <a href="#/goverment" class="item">
			    <img src="img/gov_logo.png" height="45px">
			  </a>

			</div>
		</ion-card>
	</ion-content>
</ion-view>